 /* *{
    margin: 0;
 } */
 nav ul {
     display: flex;
     align-items: center;
 }

 nav {
     display: flex;
     justify-content: space-between;
     margin: 50px 230px;
 }
.Header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png') ;
    background-position: right bottom, left ;
    background-repeat: no-repeat;
    
}

 header h2 {
     font-weight: 800px;
     font size: 55px;
     /* margin-top: 61px; */
 }

 nav li {
     list-style: none;
     margin-left: 50px;
     /* margin-top: 51px; */
     text-decoration: none;
 }

 * {
     font-family: 'Open Sans', sans-serif;
     ;
 }

 .Nav_Title {
     color: #FD6E0A;
 }

 .OrB {
     border: 0px;
     background: #FD6E0A;
     border-radius: 5px;
     color: #FFFFFF;
     font-weight: 700;
     font-size: 20px;
     padding: 18px 35px;
 }

 .Hardy {
     font-weight: 700;
     font-size: 40px;
     color: #181818;
 }

 .Hardysub {
     font-weight: 600;
     font-size: 25px;
     color: #474747;
 }

 .Hardydes {
     width: 700px;
     font-weight: 400;
     font-size: 18px;
     color: #757575;
 }

 .banner {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-left: 230px;
 }

 .WHB {
     margin-left: 30px;
     font-weight: 700;
     font-size: 20px;
     color: #FD6E0A;
     padding: 18px 35px;
     border-radius: 5px;
     border: 2;
     border-color: #FD6E0A;
 }

 .ImH {
     margin-right: 35;
 }
 .Useful{
    margin: 0 auto;
    max-width: 1150px;
    background: #FFF8F3;
    border-radius: 10px;
    
 }
 .About_Section{
    margin-top: 130px;
    /* width:250px 850px; */
    padding: 130px 150px;
    text-align: center;
 }
 .About{
    font-weight: 700;
    font-size: 35px;
 }
 .table{
   padding right: 20px;;
    
 }
 #Strong{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    font: bold;
 }